.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 5rem;
}

.login-page-title{
    color: var(--color-secondary);
    font-size: var(--h1);
}

.login-page-form{
    background-color: var(--color-primary);
    border: var(--border) var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    height: 10rem;
    width: 15rem;
}

.login-page-input-field{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    min-width: 15rem;
}

.login-page-button{
    background-color: white;
    min-width: 8rem;
    padding-block: .4rem;
    border-radius: var(--border);
}
