.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 5rem;
}

.login-page-title{
    color: var(--color-secondary);
    font-size:xx-large
}

.login-page-form{
    background-color: var(--color-primary);
    border: 10px solid;
    border-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    height: 10rem;
    width: 15rem;
}

.login-page-input-field{
    background-color: var(--color-primary);
    /* color: var(--color-neutral); */
    display: flex;
    flex-direction: column;
    min-width: 15rem;
}

.login-page-button{
    min-width: 15rem;
    height: 1rem;
}
