.login-page-container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.login-page {
	align-items: center;
	background-color: var(--color-primary);
	border: var(--border) var(--color-border);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-top: 10rem;
	padding: 2rem;
}


.login-page-title {
	color: var(--color-text-dark);
	font-size: var(--h1);
	font-weight: var(--font-weight-fat);
}

.login-page-form {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.login-page-input {
	border: var(--border) var(--color-secondary);
	border-radius: var(--border-radius);
	min-width: 20rem;
	padding: 0.75rem 0.75rem;
}

.login-page-button {
	background-color: var(--color-accent);
	border: var(--border) var(--color-accent);
	border-radius: var(--border-radius);
	color: var(--color-base);
	font-weight: var(--font-weight-fat);
	margin-top: 2rem;
	padding: 0.75rem 0.75rem;
	width: 100%;
}