.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: white;
	padding: 2rem;
	border-radius: 10px;
	width: 400px;
	text-align: center;
	min-height: 34rem;
}

.modal-input {
	margin: 1rem 0;
}

.modal-input label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.modal-input input,
.modal-input select {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal-buttons {
	display: flex;
	justify-content: space-between;
}

.btn-submit {
	background-color: #474747;
	color: var(--color-base);
}

.btn-close {
	align-items: center;
	background-color: var(--color-accent);
	border: none;
	border-radius: var(--border-radius);
	color: var(--color-base);
	display: flex;
	background-color: rgb(128, 2, 0);
}